<!DOCTYPE HTML>
<html>

<head>
    <title>Henriikan Hiuspaja</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="assets/css/main.css" />
    <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
    <!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
</head>

<body class="index">
    <div id="page-wrapper">

        <!-- Header -->
        <header id="header" class="alt">
            <nav id="nav">
                <ul>
                    <li class="current"><a href="#banner" class="scrolly">Aukioloajat</a></li>
                    <li><a href="#yhteystiedot" class="scrolly">Yhteystiedot</a></li>
                    <li><a href="#hinnasto" class="scrolly">Hinnasto</a></li>
                    <li><a href="#lahjakortti" class="scrolly">Lahjakortti</a></li>
                    <li><a href="#galleria" class="scrolly">Galleria</a></li>
                </ul>
            </nav>
        </header>

        <!-- Banner -->
        <section id="banner">

            <div class="inner">

                <header>
                    <h2>
                        <p>Henriikan</p>
                        <p>Hiuspaja</p>
                    </h2>
                </header>
                <p><strong>Auki</strong>
                    {{ range .BusinessHours }}
                        <br>{{ . }}
                    {{ end }}
                    <br>
                    <strong>Puhelinnumero<br></strong>{{ .Phone }}
                </p>
                <footer>
                    <ul class="buttons vertical">
                        <li><a href="https://timma.fi/henriikanhiuspaja" target="_blank" class="button fit scrolly">Varaa
                                aika</a></li>
                    </ul>
                </footer>

            </div>

        </section>

        <!-- Main -->
        <article id="yhteystiedot">

            <header class="special container">
                <h2>Tervetuloa <strong>viihtymään</strong> Henriikan Hiuspajaan!</h2>
                <p>Sinua palevelevat Henriikka ja Sofia.</p>
                <p>Ajan voit varata <a href="https://timma.fi/henriikanhiuspaja" target="_blank">nettivarauksella</a>,
                    puhelimitse tai paikan päältä.</p>
            </header>

            <!-- One -->
            <section class="wrapper style2 container special-alt">

                <header style="text-align: center;">
                    <h2><strong>Yhteystiedot</strong>
                </header>

                <div id="info-container" class="row">
                    <div class="8u 12u(narrow)">
                        <div id="map"></div>
                    </div>
                    <div id="info" class="4u 12u(narrow)">
                        <strong>
                            {{ .Phone }}<br>
                            henriikka@henriikanhiuspaja.fi<br>
                            <br>
                            Henriikan Hiuspaja<br>
                            Kalajoentie 3<br>
                            85100 Kalajaoki<br>
                        </strong>
                    </div>
                </div>

            </section>

        </article>


        <article id="hinnasto">
            <!-- Two -->
            <section class="wrapper style1 container special">
                <header>
                    <h2><strong>Hinnasto</strong></h2>
                </header>
                <div class="row">
                {{ range .Catalogue }}
                    <div class="6u 12u(narrower)">
                        <section>
                            <header>
                                <h3>{{ .Header }}</h3>
                            </header>
                            {{ range .Items }}
                            <p>
                                <span class="product">{{ .Name }}</span>
                                <span class="price">{{ .Price }}</span>
                            </p>
                            {{ end }}
                        </section>
                    </div>
                {{ end }}
                </div>
            </section>
        </article>

        <article id="lahjakortti">
            <section class="wrapper style2 container special-alt">
                <header style="text-align: center;">
                    <h2><strong>Lahjakortti</strong></h2>
                </header>
                <div class="row">
                    <iframe width="100%" frameborder="0" src="https://varaa.timma.fi/embedgiftcard/henriikanhiuspaja"></iframe>
                </div>
            </section>
        </article>

        <article id="galleria">
            <section class="wrapper style1 container special">
                <header>
                    <h2><strong>Galleria</strong></h2>
                </header>
                <div id="pixlee_container"></div>
            </section>
        </article>

        <!-- Footer -->
        <footer id="footer">

            <ul class="icons">
                <li><a href="https://www.facebook.com/HenriikanHiuspaja" class="icon circle fa-facebook" target="_blank"><span
                            class="label">Facebook</span></a></li>
                <li><a href="https://www.instagram.com/henriikanhiuspaja" class="icon circle fa-instagram" target="_blank"><span
                            class="label">Instagram</span></a></li>
            </ul>

            <ul class="copyright">
                <li>&copy; Henriikan Hiuspaja</li>
                <li><a href="http://bitbrewers.fi" target="_blank">Bit Brewers</a></li>
                <li><a href="http://html5up.net" target="_blank">HTML5 UP</a></li>
            </ul>

        </footer>

    </div>

    <!-- Scripts -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/jquery.dropotron.min.js"></script>
    <script src="assets/js/jquery.scrolly.min.js"></script>
    <script src="assets/js/jquery.scrollgress.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC7_qCHzwzh0aUgQ3wx00kGgtY664pQVyc"></script>
    <script src="assets/js/skel.min.js"></script>
    <script src="assets/js/util.js"></script>
    <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
    <script src="assets/js/main.js"></script>
    <script>$("#pics-container").load("/insta-pics/henriikanhiuspaja.html");</script>
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
        ga('create', 'UA-58256396-6', 'auto');
        ga('send', 'pageview');
    </script>
    <script type="text/javascript">
        window.PixleeAsyncInit = function () {
            Pixlee.init({ apiKey: 'X54zDNbcDfWjIairj1Nx' });
            Pixlee.addSimpleWidget({ widgetId: '13395' });
        };
    </script>
    <script src="//instafeed.assets.pixlee.com/assets/pixlee_widget_1_0_0.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/iframe-resizer/2.8.3/iframeResizer.min.js"></script>
    <script type="text/javascript">iFrameResize({checkOrigin: false, bodyPadding:'50px'});</script>
</body>

</html>
